//  适配1440px
@media screen and (max-width: 1920px) {
  .white {
    background-color: #fff !important;
  }
  .container {
    width: 1200px;
    margin: auto;
  }
  //头部
  .header {
    background-color: #f6f7f9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    .header-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 24px 0;
      .header-logo {
        display: flex;
        .header-logo-left {
          position: relative;
          width: 32px;
          height: 32px;
          margin-right: 10px;
          .wathet {
            border-radius: 50%;
            position: absolute;
            width: 28px;
            height: 28px;
            background: rgba(10, 199, 255, 0.8);
          }
          .blue {
            z-index: 2;
            border-radius: 50%;
            position: absolute;
            top: 4px;
            left: 4px;
            width: 28px;
            height: 28px;
            background: rgba(5, 68, 255, 0.7);
            backdrop-filter: blur(1px);
          }
        }
        .header-logo-right {
          cursor: pointer;
          width: 91px;
          height: 30px;
          font-size: 30px;
          font-family: Impact;
          color: #000000;
          line-height: 30px;
        }
      }
      .header-login-box {
        cursor: pointer;
        display: flex;
        align-items: center;
        .home_vip {
          cursor: pointer;
          width: 115px;
          height: 33px;
          background: #0544ff;
          border-radius: 100px;
          font-size: 18px;
          font-family: PingFangSC-Semibold, PingFang SC;
          font-weight: 600;
          color: #ffffff;
          line-height: 33px;
          text-align: center;
          margin-right: 47px;
        }
        // 未登录显示
        .notLogin {
          display: flex;
          align-items: center;
          .header-login {
            font-size: 16px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: #252525;
            line-height: 22px;
            letter-spacing: 3px;
          }
          .header-xian {
            width: 2px;
            height: 14px;
            background: #c7c7c7;
            opacity: 0.51;
            margin: 0 21px;
          }
        }
        // 已登录显示
        .haveLogged {
          cursor: pointer;
          position: relative;
          width: 48px;
          height: 48px;
          img {
            z-index: 55;
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
          // 新 经过显示
          .haveLoggedHover {
            cursor: default;
            border-radius: 7px;
            position: absolute;
            top: 48px;
            right: -4px;
            display: none;
            width: 253px;
            height: 404px;
            height: 323px;
            background: #0544ff;
            // 用户信息
            .haveLoggedHover-user {
              display: flex;
              margin: 16px 12px 19px;
              // 左
              .user-img {
                width: 52px;
                height: 52px;
                img {
                  width: 52px;
                  height: 52px;
                }
              }
              // 右
              .haveLoggedHover-info {
                margin-left: 12px;
                h1 {
                  margin: 9px 0 7px;
                  font-size: 14px;
                  font-family: OPPOSans-B, OPPOSans;
                  font-weight: normal;
                  color: #ffffff;
                  line-height: 14px;
                }
                h2 {
                  font-size: 12px;
                  font-family: OPPOSans-M, OPPOSans;
                  font-weight: normal;
                  color: #ffffff;
                  line-height: 16px;
                  span {
                    cursor: pointer;
                  }
                }
              }
            }
            // 开通会员
            .haveLoggedHover-vip {
              position: relative;
              font-size: 12px;
              font-family: PingFangSC-Regular, PingFang SC;
              font-weight: 400;
              color: #ffffff;
              line-height: 17px;
              margin: 0 auto 28px;
              display: flex;
              width: 229px;
              height: 62px;
              align-items: center;
              border-radius: 10px;
              // opacity: 0.6;
              border: 1px solid #ffffff;
              background: rgba(255, 255, 255, 0.15);
              div {
                margin: 0 20px 0 15px;
                h1 {
                  margin-bottom: 1px;
                  font-size: 14px;
                  font-family: PingFangSC-Semibold, PingFang SC;
                  font-weight: 600;
                  color: #ffffff;
                  line-height: 20px;
                }
                h2 {
                  font-size: 12px;
                  font-family: PingFangSC-Regular, PingFang SC;
                  font-weight: 400;
                  color: #ffffff;
                  line-height: 17px;
                }
              }
              button {
                margin: 0;
                padding: 0;
                width: 62px;
                height: 26px;
                background: #ffdd53;
                border-radius: 4px;
                font-size: 12px;
                font-family: PingFangSC-Semibold, PingFang SC;
                font-weight: 600;
                color: #675303;
                line-height: 12px;
              }
            }
            // 列表
            .haveLoggedHover-list {
              ul {
                position: relative;
                padding: 6px 0;
                li {
                  cursor: pointer;

                  align-items: center;
                  padding: 6px 0;
                  display: flex;
                  padding-left: 22px;
                  img {
                    width: 26px;
                    height: 26px;
                    margin-right: 16px;
                  }
                  span {
                    font-size: 14px;
                    font-family: OPPOSans-B, OPPOSans;
                    font-weight: normal;
                    color: #ffffff;
                    // line-height: 14px;
                  }
                }
                li:hover {
                  background: #0136d1;
                }
              }
              ul::before {
                content: "";
                position: absolute;
                top: 0px;
                right: 0px;
                width: 233px;
                height: 1px;
                background: rgba(255, 255, 255, 0.15);
              }
              ul:nth-child(1)::before {
                content: "";
                position: absolute;
                top: 0px;
                right: 0px;
                width: 233px;
                height: 1px;
                background: rgba(255, 255, 255, 0.15);
                display: none;
              }
            }
            // 定位背景
            .positionImg {
              position: absolute;
              top: 103px;
              right: 0;
              width: 99px;
              height: 117px;
              background-image: url("@/assets/img/aboutPage/nav/dist/zan.png");
              /* 让背景图基于容器大小伸缩 */
              background-size: 99px 117px;
            }
            // 球
            .ball {
              position: absolute;
              top: -2px;
              right: -47px;
              width: 56px;
              height: 56px;
              border-radius: 50%;
              z-index: -2;
              background: #0544ff;
            }
          }
          // .haveLoggedHover:after {
          //   content: " ";
          //   position: absolute;
          //   top: -16px;
          //   right: 10px;
          //   display: inline-block;
          //   width: 0;
          //   height: 0;
          //   border: 8px solid transparent;
          //   border-bottom: 8px solid #0544ff;
          //   // background-color: #0544ff;
          // }
        }
        .haveLogged:hover .haveLoggedHover {
          display: block;
        }
      }
    }
  }
}
