.cliStyle {
  animation: identifier 1.5s forwards infinite;
}

@keyframes identifier {
  0% {
    margin-left: 0;
    background: url("~@/assets/img/modal/xiazaizhongModal/one.png");
  }

  50% {
    margin-left: 34%;
    background: url("~@/assets/img/modal/xiazaizhongModal/two.png");
  }

  100% {
    margin-left: 78%;
    background: url("~@/assets/img/modal/xiazaizhongModal/one.png");
  }
}
