.StyleaLeft {
  animation: styleaLeft 1s forwards;
}
.StyleaRight {
  animation: styleaRight 1s forwards;
}
@keyframes styleaLeft {
  0% {
    left: 0;
  }
  100% {
    left: var(--view-left, -122px);
  }
}
@keyframes styleaRight {
  0% {
    left: var(--view-left, -122px);
  }
  100% {
    left: 0;
  }
}
