// @media screen and (min-width: 1128px) and(max-width:1920px) {
@media screen and (min-width: 1128px) {
  .myVip-setMealbox {
    position: relative;
    height: 1084px;
    padding: 0 56px;
    // 左右两边的点击按钮
    .myVip-setMeal-clickBtn {
      position: absolute;
      top: 381px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 86px;
      height: 78px;
      background: rgba(0, 0, 0, 0.42);
      border-radius: 0px 89px 89px 0px;

      span {
        display: block;
        width: 0px;
        height: 0px;
        line-height: 78px;
        border-top: 19px solid transparent;
        border-bottom: 19px solid transparent;
        border-right: 38px solid #ffffff;
        border-radius: 5px;
        opacity: 1;
      }
    }
    .myVip-setMeal-clickBtn-left {
      left: 56px;
    }
    .myVip-setMeal-clickBtn-right {
      right: 56px;
      border-radius: 89px 0px 0px 89px;
      span {
        border-right: none;
        border-left: 38px solid #ffffff;
      }
    }
  }
  // 会员套餐部分
  .myVip-setMeal {
    position: relative;
    width: 100%;
    height: 1084px;
    overflow: hidden;

    .myVip-setMeal-layout {
      position: absolute;
      left: 0;
      display: flex;
      .myVip-setMeal-box {
        margin-right: 27px;
        position: relative;
        width: 280px;
        height: 1084px;
        background: #0040ff;
        box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        opacity: 0;
        // 盒子上部分
        .myVip-setMeal-box-plan {
          width: 280px;
          height: 376px;
          background: linear-gradient(
            180deg,
            #0432ba 0%,
            rgba(5, 68, 255, 0) 100%
          );
          padding-top: 44px;
          text-align: center;
          border-top-left-radius: 18px;
          border-top-right-radius: 18px;
          // 右上角定位
          .myVip-setMeal-box-plan-preference {
            position: absolute;
            top: 0;
            right: 0;
            width: 108px;
            height: 34px;
            background: linear-gradient(180deg, #efb21a 0%, #ffe547 100%);
            border-radius: 0px 0px 0px 20px;
            border-top-right-radius: 18px;
            font-size: 16px;
            font-family: HarmonyOS_Sans_SC_Medium;
            color: #0437d1;
            line-height: 34px;
          }
          p {
            height: 46px;
            font-size: 32px;
            font-family: HarmonyOS_Sans_SC_Bold;
            color: #ffffff;
            line-height: 46px;
            margin: 0 auto 5px;
          }
          // price
          .myVip-setMeal-box-plan-price-box {
            width: 100%;
            display: flex;
            justify-content: center;
            .myVip-setMeal-box-plan-price {
              height: 72px;
              font-size: 72px;
              font-family: HarmonyOS_Sans_SC_Bold;
              color: #ffffff;
              line-height: 72px;
            }
            .myVip-setMeal-box-plan-yuan {
              margin: 38px 10px 10px;
              width: 27px;
              height: 27px;
              background: #ffffff;
              border-radius: 50%;
              font-size: 18px;
              font-family: HarmonyOS_Sans_SC;
              color: #0544ff;
              line-height: 27px;
            }
          }
          // 仅剩时间
          .myVip-setMeal-box-plan-time {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 19px;
            .setMeal-box-time-js {
              margin-right: 9px;
              width: 36px;
              height: 18px;
              font-size: 18px;
              font-family: HarmonyOS_Sans_SC;
              color: #ffffff;
              line-height: 18px;
            }
            .setMeal-box-time-box {
              width: 36px;
              height: 24px;
              background: #ffffff;
              border-radius: 3px;

              font-size: 18px;
              font-family: HarmonyOS_Sans_SC;
              color: #0544ff;
              line-height: 24px;
            }
            span {
              margin: 0 4px;
              width: 8px;
              height: 18px;
              font-size: 18px;
              font-family: HarmonyOS_Sans_SC;
              color: #010101;
              line-height: 18px;
            }
          }
          // 立即抢购
          .myVip-setMeal-box-plan-PanicBuying {
            margin: 28px auto 21px;
            border-radius: 10px;
            width: 220px;
            height: 59px;
            background: linear-gradient(180deg, #fff0cc 0%, #ffe547 100%);
            font-size: 26px;
            font-family: HarmonyOS_Sans_SC;
            color: #0544ff;
            line-height: 42px !important;
          }
          .myVip-setMeal-box-plan-xz {
            margin: 0 auto 21px;
            height: 16px;
            font-size: 16px;
            font-family: HarmonyOS_Sans_SC;
            color: #ffffff;
            line-height: 16px;
            span {
              width: 32px;
              height: 16px;
              color: #f5c62c;
            }
          }
        }
        // 盒子上部分下的一个颜色
        .myVip-setMeal-box-col {
          width: 280px;
          height: 26px;
          background: linear-gradient(
            180deg,
            #ffffff 0%,
            rgba(255, 255, 255, 0) 100%
          );
          opacity: 0.11;
        }
        // 盒子权益部分
        .myVip-setMeal-box-qy {
          margin-top: 14px;
          width: 100%;
          .myVip-setMeal-box-qy-box {
            margin: auto;
            margin-bottom: 30px;
            width: 220px;
            .myVip-setMeal-box-qy-box-top {
              margin-bottom: 20px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              h1 {
                margin: 0;
                height: 16px;
                font-size: 16px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #ffffff;
                line-height: 16px;
              }
              div {
                opacity: 0.2;
                letter-spacing: 3px;
                color: white;
              }
            }
            .myVip-setMeal-box-qy-box-bottom {
              .myVip-setMeal-box-qy-btmBox {
                margin-bottom: 12px;
                opacity: 0.6;
                display: flex;
                align-items: center;
                justify-content: space-between;
                h2 {
                  margin: 0;
                  width: 144px;
                  height: 14px;
                  font-size: 14px;
                  font-family: HarmonyOS_Sans_SC;
                  color: #f3f9ff;
                  line-height: 14px;
                }
                span {
                  width: 12px;
                  height: 12px;
                  border-radius: 50%;
                  border: 1px solid white;
                }
              }
            }
          }
        }
        // 查看权益详细说明
        .myVip-setMeal-box-explain {
          width: 220px;
          height: 50px;
          background: #4271ff;
          border-radius: 25px;
          line-height: 50px;
          margin: 6px auto 36px;
          text-align: center;

          span {
            cursor: pointer;
            width: 160px;
            height: 20px;
            font-size: 20px;
            font-family: HarmonyOS_Sans_SC;
            color: #ffffff;
            text-decoration: underline;
            opacity: 0.8;
          }
        }
        // 后一个盒子
        .myVip-setMeal-box-finally {
          width: 220px;
          margin: auto !important;
          h2 {
            width: 144px;
            height: 16px;
            font-size: 16px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #ffffff;
            line-height: 16px;
          }
          .myVip-setMeal-box-finally-box {
            margin-top: 20px !important;
            display: flex;
            justify-content: space-around;
            width: 220px;
            height: 58px;
            background: #fff8d1;
            border-radius: 7px;
            line-height: 58px;
            h1 {
              font-size: 16px;
              font-family: PingFangSC-Medium, PingFang SC;
              font-weight: 500;
              color: #ad5703;
            }
            span {
              cursor: pointer;
              text-decoration: underline;
              font-size: 16px;
              font-family: PingFangSC-Medium, PingFang SC;
              font-weight: 500;
              color: #3d56d5;
            }
          }
        }
      }
      div:last-child {
        margin: 0 !important;
      }
    }
    .myVip-setMeal-layout2 {
      display: flex;
      // justify-content: center;
    }

    .UpdateStyle {
      left: 50% !important;
      transform: translate(-50%, 0) !important;
    }
  }

  //  会员套餐不一样的样式
  .myVip-setMeal {
    #myVip-setMeal-pattern {
      background: #fff7e8;
      color: black !important;
      box-shadow: 0px 6px 12px 0px rgba(112, 124, 159, 0.21);
      p,
      h1,
      h2,
      div,
      span {
        color: black;
      }
      .myVip-setMeal-box-col {
        width: 280px;
        height: 26px;
        background: linear-gradient(
          180deg,
          #a8b1ff 0%,
          rgba(255, 255, 255, 0) 100%
        );
        opacity: 0.17;
      }
      .myVip-setMeal-box-plan {
        button {
          line-height: 42px !important;
        }
        background: linear-gradient(
          180deg,
          #ffd1a5 0%,
          rgba(253, 236, 212, 0) 100%
        );
        color: black !important;
        .myVip-setMeal-box-plan-preference {
          background: #ff5353;
          color: white;
        }
        #PanicBuying {
          border: none;
          background: #ff8405;
          color: white;
          line-height: 42px !important;
        }
        .myVip-setMeal-box-plan-xz span {
          color: #eb3434;
        }
      }
      .myVip-setMeal-box-explain {
        background-color: #f3e8d6;
        color: #563d20;
      }
      .myVip-setMeal-box-finally {
        .myVip-setMeal-box-finally-box {
          background-color: white;
          h1 {
            color: #ad5703;
          }
          span {
            color: #3d56d5;
          }
        }
      }
      .myVip-setMeal-box-qy-btmBox span {
        border: 1px solid #000;
      }

      // 添加样式
      .myVip-setMeal-box-plan-quan {
        margin-top: 33px;
        font-size: 18px;
        margin-right: 2px;
        font-family: HarmonyOS_Sans_SC;
        color: #0b030a;
      }
      .myVip-setMeal-box-plan-yuan {
        background-color: black;
        color: white;
      }
      .myVip-setMeal-box-plan-yj {
        margin-top: 22px;
        text-decoration: line-through;
        font-size: 18px;
        font-family: HarmonyOS_Sans_SC;
        color: #010101;
        line-height: 18px;
      }
    }
  }

  //  最后一个盒子去除margin
  .Remover {
    margin: 0 !important;
  }
}
